@using Microsoft.Framework.Configuration;

<!DOCTYPE html>
<html ng-app="getHabitsApp">
<head>
    <base href="/app">
    <meta name="environment" content="@ViewBag.Environment" />
    <meta name="connection-string" content="@ViewBag.ConnectionString" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Habits Application</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@

    <!--Angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>

    <!--Custom-->
    <script src="/app.js"></script>
    <link href="/app.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <div class="container">
        <ng-view></ng-view>
    </div>
    @*<div>
        @foreach (var item in ViewBag.Configuration)
        {
            <div>@item.Key</div>
        }
    </div>*@
</body>
</html>