<!DOCTYPE html>
<html ng-app="getHabitsApp">
<head>
    <meta charset="utf-8" />
    <title></title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    <script src="/app.js"></script>
</head>
<body ng-cloak>
    <div ng-controller="habitsController">
        <table>
            <thead>
                <tr>
                    <th>{{ Name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="habit in habits">
                    <td>{{habit.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>