<div>

    <h1>Список привычек</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Привычка</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="habit in habits">
                <td>
                    <a href="/habits/edit/{{habit.Id}}" class="btn btn-default btn-xs">edit</a>
                    <a href="/habits/delete/{{habit.Id}}" class="btn btn-danger btn-xs">delete</a>
                </td>
                <td>{{habit.Name}}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="/habits/add" class="btn btn-primary">Добавить новую привычку</a>
    </p>
</div>