@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
@foreach (var type in Context.Authentication.GetAuthenticationSchemes())
{
    <a href="auth/login?authscheme=@type.AuthenticationScheme">Войти используя учетную запись Google</a><br>
}